extend menu
block content
  head
    link(rel='stylesheet', href="/stylesheets/tableHuerta.css", type='text/css')
    link(rel='stylesheet', href="/stylesheets/bootstrap-colorpicker.min.css", type="text/css")
    link(rel='stylesheet', href="/stylesheets/qzar-modulos.css", type='text/css')
    link(rel='stylesheet', href="/stylesheets/docs.css", type="text/css")
    script(src='/js/scripthuerta.js')  
    script(type='text/javascript').
      var cuadritos =!{JSON.stringify(cuadritos)};
    script.
      var flag = false;
      $(document).ready(function() {
        $("#huerta").mouseleave(function(){flag=false;});
        $(".cuadrito").mouseup(function(){flag=false;});
        $(".cuadrito").mousedown(function(){flag=true;marked($(this));});
        $(".cuadrito").mouseenter(function(){marked($(this));});
        });

      var marked = function(cuadrito)
      {
        verPositivos();
        if(flag)
          {
            var color=$('#listaCuadritos').find(":selected").attr('BGCOLOR');
            var type=$('#listaCuadritos').find(":selected").attr('type');
            var Sector=$("#selectSector").val();
            cuadrito.attr("type", type);
            cuadrito.attr("BGCOLOR",color);
            cuadrito.html(Sector);
          }
      }

      var verPositivos = function()
      {
        var Sector=$("#selectSector").val();
        if(Sector < 0)
          {
            Sector = 0;
          }
          Sector = parseInt(Sector);
          $("#selectSector").val(Sector) ;
      }

      var guardarHuerta = function()
      {
        //Desactiva el boton
        document.getElementById("btnSubmitHuerta").disabled = 'true';
        var cuadritos = [];
        var renglon = 0;
        var columna = 0;
        $(".renglon").each(function(){
          var row = $(this);
          columna = 0;
          $(row).find('td').each(function(){
              var celda = $(this);
              var cuadro = {};
              cuadro['type'] = celda.attr("type");
              cuadro["sector"] = celda.html();
              cuadro["ejeX"] = columna;
              cuadro["ejeY"] = renglon;
              console.log(cuadro);
              cuadritos.push(cuadro);
              columna++;
            });
            renglon++;
          });
          console.log(cuadritos);
          //mandamos cuadriots al servidor
          var url = window.location.href.split("/");
          $.post("/modulo/huerta/crearGuardar",
          {
              'cuadritos': JSON.stringify(cuadritos),
              'modulo': url[url.length-1],
              'alto': renglon,
              'ancho': columna
          },
          function(data, status){
              alert("Data: " + data + "\nStatus: " + status);

              window.location.replace('/modulos/' + data);

          },'json');

      }
      
  div#page-wrapper
    div.content-fluid
      //- if aviso
      //-   div.row
      //-     div(class="alert alert-#{aviso.tipo} col-md-6 col-md-offset-3", role="alert")
      //-       i(class="#{aviso.icono}")
      //-       p.inline #{aviso.mensaje}
      div.row
        div#barra-crear-huerta
          div.col-sm-12.col-md-8.col-md-offset-2
            i#icono.material-icons.inline.inline dashboard
            h1#h1CrearHuerta #{title}
        div.form-group.col-sm-12.col-md-8.col-md-offset-2.crear-labels
          div
            label Sectores:
            select#listaCuadritos.form-control
              option(type='1', BGCOLOR='') Vacio
              option(type='2', BGCOLOR='red') Fresa
              option(type='3', BGCOLOR='yellow') Piña
              option(type='4', BGCOLOR='blue') Zarzamora
            //Abre el modal
            a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA")
                i.material-icons.md-48#boton-agregar-actividad control_point
                p Agregar
          div
            label N° Sector:   
            input#selectSector.form-control(type="number", min='0', value="0" onchange="verPositivos()")
            div.boton-crear-huerta
              button.btn.btn-primary#btnSubmitHuerta(onclick="guardarHuerta()") Guardar


        div.form-group.col-sm-12.col-md-8.col-md-offset-2
          table#huerta.table.table-bordered
            tbody
              each number in alto
                tr.renglon
                  each row in ancho 
                    td.cuadrito &nbsp

        //Modal para agregar un tipo de poste
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button(type='button' class='close' data-dismiss="modal") &times;
                  h4.modal-title Agregar Poste
                
                  div.modal-body
                    div.input-group.colorpicker-component.demo.demo-auto
                      label(for="color") Color
                      input.form-control#escogerColor(type='text', value='', required)
                      span.input-group-addon
                        i
                    label(for="nombre") Nombre
                    input.form-control#nombreDeTipoDePoste(type='text', value='', required)
                      


                  div.modal-footer
                    button.btn.btn-primary#crearModulo(type="button") Crear
                    button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar
