extends menu
block content
  head
  title Lotes
  link(rel='stylesheet', href="/stylesheets/qzar-modulos.css", type='text/css')
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid

      //- if aviso
      //-   div.row
      //-     div(class="alert alert-#{aviso.tipo} col-md-6 col-md-offset-3", role="alert")
      //-       i(class="#{aviso.icono}")
      //-       p.inline #{aviso.mensaje}

      div.row
        div#barra-de-actividades
          div.col-sm-12.col-md-8.col-md-offset-2
            i#icono-modulo.material-icons dashboard
            //p #{mensaje}
            h1#h1Modulos #{titulo}
            if usuario.idRoles === 1
              //Icono que te lleva al modal
              a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA")
                i.material-icons.md-48#boton-agregar-actividad control_point
                p Agregar
        
        //Contenido de la pagina
        div.col-sm-12.col-md-8.col-md-offset-2
          if lotes && lotes.length
            table.table.table-striped.table-bordered
              thead
                th Lote
                th Cosechador
                th Sector
                th Fecha
                th Modulo
                th Contenido
              tbody
                each lote in lotes
                  tr
                    td idRaro
                    td(class='nombre') #{lote.nombre}
                    td(class='sector') #{lote.sector}
                    td(class='fecha' type='fecha') #{lote.fecha}
                    td(class='modulo') #{lote.modulo}
                    td(class='contenido') #{lote.contenido}
                    td(class='id' style='display:none;') #{lote.idLote}
                    td#botones-modificar 
                      button.btn.btn-primary(type="button" class="modificar" data-toggle="modal" data-target="#MAA" id='boton-modificar') Modificar
                      &nbsp&nbsp&nbsp
                      button.btn.btn-default( type="button" class="eliminar" data-dismiss="modal" onclick="window.location.href='/lotes/eliminar/#{lote.idLote}'" ) Eliminar
          else
            p.watermark No se han encontrado lotes en el sistema.


        //Modal para modificar un Lote
        div(id='MAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button(type='button' class='close' data-dismiss="modal") &times;
                  h4.modal-title Modificar Lote
                form(action="/lotes/modificar" method="post" id="modificaLote" onsubmit="return checkform(this);")
                  div.modal-body
                    label(for="cosechador") Cosechador
                    input.form-control(name="cosechador", type='text', id="cosechador", required)
                    label(for="sector") Sector
                    input.form-control(name="sector", type='text', id="sector", required)
                    label(for="fecha") Fecha
                    input.form-control(name="fecha" id="fecha" required)
                    label(for="modulo") Modulo
                    input.form-control(name="modulo", type='text', id="modulo", required)
                    label(for="contenido") Contenido
                    input.form-control(name="contenido", type='text', id="contenido", required)
                    input.form-control(type="numeric" name="idlote" id="MIDU" style='display:none;')
                  div.modal-footer
                    button.btn.btn-primary#modificarLote(type="submit") Modificar
                    button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar

        //Modal para crear un Lote
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button(type='button' class='close' data-dismiss="modal") &times;
                  h4.modal-title Crear Lote
                form(action="/lotes/modificar" method="post" id="creaLote" onsubmit="return checkform(this);")
                  div.modal-body
                    label(for="cosechador") Cosechador
                    input.form-control(name="cosechador", type='text', id="creacosechador", required)
                    label(for="sector") Sector
                    input.form-control(name="sector", type='text', id="creasector", required)
                    label(for="fecha") Fecha
                    input.form-control(name="fecha", type='text', id="creafecha", required)
                    label(for="modulo") Modulo
                    input.form-control(name="modulo", type='text', id="creamodulo", required)
                    label(for="contenido") Contenido
                    input.form-control(name="contenido", type='text', id="creacontenido", required)
                    input.form-control(type="numeric" name="idlote" id="creaMIDU" style='display:none;')
                  div.modal-footer
                    button.btn.btn-primary#modificarLote(type="submit") Modificar
                    button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar
  
  script(src='/js/modificarlote.js')