extends menu
block content
  head
  title Módulos
  link(rel='stylesheet', href="/stylesheets/qzar-modulos.css", type='text/css')
  div#page-wrapper
    div.container-fluid
      div.row
        div#barra-de-actividades
          div.col-sm-12.col-md-8.col-md-offset-2
            i(class='fa fa-fw fa-home')#icono-modulo
            h1#h1Modulos #{titulo}
            if usuario.idRoles === 1
              //Icono que te lleva al modal
              a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA")
                i.material-icons.md-48#boton-agregar-actividad control_point
                p Agregar
        
        //Contenido de la pagina
        div.col-sm-12.col-md-8.col-md-offset-2
          if modulos && modulos.length
            table.table.table-striped.table-bordered
              thead
                th Nombre
                th Número
                th Administrador
              tbody
                each modulo in modulos
                  tr
                    td #[a(href='/modulos/#{modulo.idModulo}') #{modulo.nombre}]
                    td #{modulo.numeroModulo}
                    td #{modulo.admin}
          else
            p.watermark No se han encontrado módulos en el sistema.
        
      if usuario.idRoles === 1
        //Modal
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button(type='button' class='close' data-dismiss="modal") &times;
                  h4.modal-title Agregar módulo
                if listaAdmins && listaAdmins.length
                  p#mensajeAgregaModulo
                  form#agregaModulo(name="agregaModulo")
                    div.modal-body
                      label(for="nombre") Nombre del módulo:
                      input.form-control#nombre(type="text", placeholder="Nombre", name="nombre", required)
                      label(for="numero") Número del módulo: 
                      input.form-control#numero(type="number", placeholder="Número", name="numero", min="0", max="999", required)
                    div.modal-footer
                      button.btn.btn-primary#crearModulo(type="button") Crear
                      button.btn.btn-danger#cerrarModal(type='button', data-dismiss='modal') Cancelar
                else
                  div.modal-body
                    p No hay usuarios disponibles con el rol de administrador de módulo.
                  div.modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper

  // Crear módulo
  script(src='/js/crearmodulo.js')

//a(href='/modulos/nuevo')
//a(href='#' data-toggle="modal" data-target="#FAA")
  
  
