extends menu
block content
  head
    script.
      function llenaPanelEventos(eventos){
        
        var htmlALlenar = "";
        $(eventos).each(function(){
            htmlALlenar+="<div class='event-item'>";
            htmlALlenar+="<div class='event-item-date'>"+this.date+"</div>";
            htmlALlenar+="<div class='event-item-name'>"+this.name+"</div>";
            htmlALlenar+="<div class='event-item-location'>"+this.location+"</div>";
            htmlALlenar+="</div>";
          });
        //$(htmlALlenar).appendTo('#eventos-del-dia');
        $('#eventos-del-dia').html(htmlALlenar);
      }
      $(function(){
        $('#full-clndr').clndr(
          {
            template: $('.todo').html(),
            events: [
              { date: '2015-10-10', name: 'evento 1', location: 'http://github.com/kylestetz/CLNDR' },
              { date: '2015-10-11', name: 'evento 2', location: 'http://github.com/kylestetz/CLNDR' },
              { date: '2015-10-11', name: 'evento 3', location: 'http://github.com/kylestetz/CLNDR' },
              { date: '2015-12-10', name: 'CLNDR GitHub Page Finished', location: 'http://github.com/kylestetz/CLNDR' }
            ],
            daysOfTheWeek: ['L', 'M', 'M', 'J', 'V', 'S','D'],
            clickEvents: {
              click: function(target) {
                console.log(target);
                //Target :Object {element: div.day.event.calendar-day-2015-10-10.calendar-dow-5, events: Array[1], date: n}
                llenaPanelEventos(target.events);

              },
              onMonthChange: function(month) {
                console.log('you just went to ' + month.format('MMMM, YYYY'));
              }
            },
            doneRendering: function() {
              console.log('this would be a fine place to attach custom event handlers.');
            }
          }
          );
      }
      );
  title Módulos
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          p #{mensaje}
          h3 #{titulo}
      div.col-lg-12

        if modulos && modulos.length
          table.table.table-striped
            thead
              th Nombre
              th Número
              th Adfullstrador
            tbody
              each modulo in modulos
                tr
                  td #[a(href='/modulos/#{modulo.idModulo}') #{modulo.nombre}]
                  td #{modulo.numeroModulo}
                  td #{modulo.admin}
        else
          p No se han encontrado módulos en el sistema.

        a(href='/modulos/nuevo') Nuevo módulo
    div#full-clndr.clearfix
    script.todo.
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lsaquo;</div>
        <div class="clndr-next-button">&rsaquo;</div>
        <div class="month"><%= month %> <%= year %></div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day">
              <%= day %>
            </div>
          <% }); %>
        </div>
        <div class="days clearfix">
          <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>">
            <span><%= day.day %></span>
          </div>
        <% }); %>
        </div>
      </div>
      <div class="event-listing">
        <div class="event-listing-title">Eventos del día</div>
        <div id="eventos-del-dia">
        <% _.each(eventsThisMonth, function(event) { %>
            <div class="event-item">
              <div class="event-item-date"><%= event.date %></div>
              <div class="event-item-name"><%= event.name %></div>
              <div class="event-item-location"><%= event.location %></div>
            </div>
          <% }); %>
      </div>
  div#oli
  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
