extends menu
block content
  head
  title Usuarios
  link(rel='stylesheet', href="/stylesheets/qzar-modulos.css", type='text/css')
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid

      //- if aviso
      //-   div.row
      //-     div(class="alert alert-#{aviso.tipo} col-md-6 col-md-offset-3", role="alert")
      //-       i(class="#{aviso.icono}")
      //-       p.inline #{aviso.mensaje}

      div.row
        div#barra-de-actividades
          div.col-sm-12.col-md-8.col-md-offset-2
            i#icono-modulo.material-icons dashboard
            //p #{mensaje}
            h1#h1Modulos #{titulo}
            if usuario.idRoles === 1
              //Icono que te lleva al modal
              a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAU")
                i.material-icons.md-48#boton-agregar-actividad control_point
                p Agregar
        
        //Contenido de la pagina
        div.col-sm-12.col-md-8.col-md-offset-2
          if usuarios && usuarios.length
            table.table.table-striped.table-bordered
              thead
                th Nombre
                th Rol
                th Módulo
                th Opciones
              tbody
                each user in usuarios
                  tr
                    //td #{user.nombreUsuario}
                    td #[a(href='/usuarios/#{user.idUsuario}') #{user.nombreUsuario}]
                    td #{user.nombreRol}
                    td #{user.nombreModulo}
                    td
                      button.btn.btn-primary(type="button" class="modificar" data-toggle="modal" data-target="#FAA" id='boton-modificar') Modificar
                      &nbsp&nbsp&nbsp 
                      button.btn.btn-default( type="button" class="eliminar" data-dismiss="modal" onclick="window.location.href='/usuarios/eliminar/#{user.idUsuario}'" ) Eliminar
          else
            p.watermark No se han encontrado usuarios en el sistema.
    
    if usuario.idRoles == 1
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss="modal") &times;
                    h4.modal-title Editar módulo
                  p#mensajeActualizacion
                  form#actualizaModulo(name="actualizaModulo")
                    div.modal-body
                      label(for="nombre") Nombre del usuario:
                      input.form-control#nombre(type="text", placeholder="Nombre", name="nombre"  , required)
                      label(for="numero") Rol:
                      input.form-control#numero(type="number", placeholder="Número", name="numero", min="0", max="999", required)
                      label(for="admin") Módulo: 
                      select.form-control#admin(name="admin", required)
                    div.modal-footer
                      button.btn.btn-primary#editarModulo(type='button') Guardar cambios
                      button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar

    //Modal Agregar
    div(id='FAU' class='modal fade' role='dialog')
      div.modal-dialog
        //Contenido modal
        div.modal-content
          div.modal-header
            button(type='button' class='close' data-dismiss="modal") &times;
            h4.modal-title Agrega Usuario
          form(action="/usuarios/agregausuario" method="post" onsubmit="return checkform(this);" id="AgregaUsuario")
            div.modal-body 
              label Nombre
              input.form-control(type="text" name="nombreUsuario" size="58")
              label Constraseña 
              input.form-control(type="password" name="contrasenaUsuario" size="58")
              label Re-constraseña
              input.form-control(type="password" name="recontrasenaUsuario" size="58")
              label Rol
              select.form-control(name="roles")
                each rol in roles
                  option(value="#{rol.idRol}") #{rol.nombre}
              label Modulo
              select.form-control(name="modulo")
                each modulo in modulos
                  option(value="#{modulo.idModulo}") #{modulo.nombre}
            div.modal-footer
              button.btn.btn-primary(type="submit" ) Agregar
              button.btn.btn-default(type="button" data-dismiss="modal") Cerrar
    script(language="JavaScript" type="text/javascript").
      function checkform ( form ) {
        if(form.nombreUsuario.value == "") {
          alert("Nombre del Usuario vacio");
          form.nombreUsuario.focus();
          return false;
          }
        if(form.contrasenaUsuario.value == "") {
          alert("Contraseña vacia");
          form.contrasenaUsuario.focus();
          return false;
        }
        if(form.recontrasenaUsuario.value == "") {
          alert("Vuelve a ingresar tu contraseña");
          form.recontrasenaUsuario.focus();
          return false;
        }
        if(form.contrasenaUsuario.value != form.recontrasenaUsuario.value) {
          alert("Las contraseñas no coinciden.");
          form.contrasenaUsuario.focus();
          return false;
        } 
        else {
          return true;
        }
      }
      function resetform(){
        document.getElementById("AgregaActividad").reset();
      }

  script(src='/js/modificarusuario.js')
  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper

  // Crear módulo
  script(src='/js/crearmodulo.js')