extends menu
block content
  title #{modulo.nombre}
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          p #{mensaje}
          h3 #{titulo} #{modulo.nombre}
      div.col-lg-12
        table.table.table.striped
          tbody
              tr
                td Número
                td #{modulo.numeroModulo}
              tr
                td Administrador
                td #{modulo.admin}
        a(href='') Nueva Huerta
  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
  //Jquery
  script(src='/bootstrap/js/jquery.js')
  //Bootstrap Core JS
  script(src='/bootstrap/js/bootstrap.min.js')
