extends menu
block content
  link(rel='stylesheet', href="/stylesheets/tableHuerta.css", type='text/css')
  title #{modulo.nombre}
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div#barra-ver-modulos
          div.col-sm-12.col-md-8.col-md-offset-2
            //p #{mensaje}
            i#icono.material-icons.agregar-modulo.inline.inline dashboard
            h1#h1VerModulos #{titulo}
              span#nombreModulo #{modulo.nombre}

            // TUDU: Cambiar dibujito por algo que si sea de editar.
            // Icono del modal
            if usuario.idRoles == 1
              a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA")
                i.material-icons.md-48#agregar-modulo control_point

          div.col-sm-12.col-md-8.col-md-offset-2
            table.table.table-striped.table-bordered
              tbody
                tr
                  td Número
                  td#numeroModulo #{modulo.numeroModulo}
                tr
                  td Administrador
                  td#administradorModulo #{modulo.admin}

	  // Modal de editar módulo
      if usuario.idRoles == 1
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss="modal") &times;
                    h4.modal-title Editar módulo
                  p#mensajeActualizacion
                  form#actualizaModulo(name="actualizaModulo")
                    div.modal-body
                      label(for="nombre") Nombre del módulo:
                      input.form-control#nombre(type="text", placeholder="Nombre", name="nombre", value=modulo.nombre, required)
                      label(for="numero") Número del módulo: 
                      input.form-control#numero(type="number", placeholder="Número", name="numero", min="0", max="999", value=modulo.numeroModulo, required)
                      label(for="admin") Administrador del módulo: 
                      select.form-control#admin(name="admin", required)
                        for usuario in listaAdmins
                          if usuario.idUsuario == modulo.usuarioAdministrador
                            option(value= usuario.idUsuario, selected) #{usuario.nombre}
                          else
                            option(value= usuario.idUsuario) #{usuario.nombre}
                    div.modal-footer
                      button.btn.btn-primary#editarModulo(type='button') Guardar cambios
                      button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar

        a(href='/modulos/eliminar/#{modulo.idModulo}') Eliminar Modulo
        p
        a(href='') Nueva Huerta

          
          //Modal de Agregar Huerta
          button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Nueva Huerta
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                    |         
                    h4#myModalLabel.modal-title Nueva Huerta
                  |       
                  form#formcrearHuerta(name="crearHuerta",method="post",action="/modulo/huerta/crear")
                    .modal-body
                        input.form-control#inputAlto(type="number", placeholder="alto", name="alto", onchange="posAlto()", required)
                        input.form-control#inputAncho(type="number", placeholder="ancho", name="ancho", onchange="posAncho()", required)
                    |       
                    .modal-footer
                      button.btn.btn-primary#btnSubmit(type="submit") submit
                      button.btn.btn-default(type='button', data-dismiss='modal') Close
                    |         
              //button.btn.btn-primary(type='submit') Save changes
    script.
      var posAlto = function(){
        var alto=$("#inputAlto").val();
          if(alto <= 0)
            {
              alto = 1;
            }
            alto = parseInt(alto)
            $("#inputAlto").val(alto) ;
      }

      var posAncho = function(){
        var ancho=$("#inputAncho").val();
          if(ancho <= 0)
            {
              ancho = 1;
            }
            ancho = parseInt(ancho)
            $("#inputAncho").val(ancho) ;
      }

  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
  //Jquery
  script(src='/bootstrap/js/jquery.js')
  //Bootstrap Core JS
  script(src='/bootstrap/js/bootstrap.min.js')
  // Editar módulo
  script(src='/js/editarmodulo.js')
