extends menu
block content
  link(rel='stylesheet', href="/stylesheets/tableHuerta.css", type='text/css')
  title #{modulo.nombre}
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid

      //- if aviso
      //-   div.row
      //-     div(class="alert alert-#{aviso.tipo} col-md-6 col-md-offset-3", role="alert")
      //-       i(class="#{aviso.icono}")
      //-       p.inline #{aviso.mensaje}

      div.row
        div#barra-ver-modulos
          div.col-sm-12.col-md-8.col-md-offset-2
            //p #{mensaje}
            i#icono.material-icons.agregar-modulo.inline.inline dashboard
            h1#h1VerModulos #{titulo}
              span#nombreModulo #{modulo.nombre}
            // TODO: Cambiar icono.
            if usuario.idRoles == 1
              //a(class='nav navbar-right top-nav' href='#' data-toggle="modal" data-target="#FAA") Editar
              //a(href='/modulos/eliminar/#{modulo.idModulo}') Eliminar módulo
        div.col-sm-12.col-md-8.col-md-offset-2
          table.table.table-striped.table-bordered
            tbody
                tr
                  td Número
                  td#numeroModulo #{modulo.numeroModulo}
                  td
                tr
                  td Administrador
                  td#administradorModulo #{modulo.admin}
                  if usuario.idRoles == 1
                    td#botones-modificar
                      button.btn.btn-primary(type="button" class="modificar" data-toggle="modal" data-target="#FAA" id='boton-modificar') Modificar
                       &nbsp&nbsp&nbsp
                       button.btn.btn-default(href='/modulos/eliminar/#{modulo.idModulo}' type="button" class="eliminar" data-dismiss="modal") Eliminar
          
          if usuario.idRoles == 1
            //Modal de Agregar Huerta
            button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Nueva Huerta
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                      |         
                      h4#myModalLabel.modal-title Nueva Huerta
                    |       
                    form#formcrearHuerta(name="crearHuerta",method="post",action="/modulo/huerta/crear")
                      .modal-body
                          input.form-control#inputAncho(type="number", placeholder="ancho", name="ancho", onchange="posAncho()", required)
                          input.form-control#inputAlto(type="number", placeholder="alto", name="alto", onchange="posAlto()", required)
                      |       
                      .modal-footer
                        button.btn.btn-primary#btnSubmit(type="submit") submit
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                      |         
                //button.btn.btn-primary(type='submit') Save changes

      if usuario.idRoles == 1
        div(id='FAA' class='modal fade' role='dialog')
            div.modal-dialog
              div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss="modal") &times;
                    h4.modal-title Editar módulo
                  p#mensajeActualizacion
                  form#actualizaModulo(name="actualizaModulo")
                    div.modal-body
                      label(for="nombre") Nombre del módulo:
                      input.form-control#nombre(type="text", placeholder="Nombre", name="nombre", value=modulo.nombre, required)
                      label(for="numero") Número del módulo: 
                      input.form-control#numero(type="number", placeholder="Número", name="numero", min="0", max="999", value=modulo.numeroModulo, required)
                      label(for="admin") Administrador del módulo: 
                      select.form-control#admin(name="admin", required)
                        option(value= modulo.usuarioAdministrador selected) #{modulo.admin}
                        for usuario in listaAdmins
                          if usuario.idUsuario != modulo.usuarioAdministrador
                            option(value= usuario.idUsuario) #{usuario.nombre}
                    div.modal-footer
                      button.btn.btn-primary#editarModulo(type='button') Guardar cambios
                      button.btn.btn-default#cerrarModal(type='button', data-dismiss='modal') Cerrar

    script.
      var posAlto = function(){
        var alto=$("#inputAlto").val();
          if(alto <= 0)
            {
              alto = 1;
            }
            alto = parseInt(alto)
            $("#inputAlto").val(alto) ;
      }

      var posAncho = function(){
        var ancho=$("#inputAncho").val();
          if(ancho <= 0)
            {
              ancho = 1;
            }
            ancho = parseInt(ancho)
            $("#inputAncho").val(ancho) ;
      }
    div#full-clndr.clearfix
    script.todo.
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lsaquo;</div>
        <div class="clndr-next-button">&rsaquo;</div>
        <div class="month"><%= month %> <%= year %></div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day">
              <%= day %>
            </div>
          <% }); %>
        </div>
        <div class="days clearfix">
          <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>">
            <span><%= day.day %></span>
          </div>
        <% }); %>
        </div>
      </div>
      <div class="event-listing">
        <div class="event-listing-title" id="titulo-eventos-del-dia">Eventos del día</div>
        <div id="eventos-del-dia">
        <% _.each(eventsThisMonth, function(event) { %>
            <div class="event-item">
              <div class="event-item-date"><%= event.date %></div>
              <div class="event-item-name"><%= event.name %></div>
              <div class="event-item-location"><%= event.location %></div>
            </div>
          <% }); %>
      </div>

  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
  //Jquery
  script(src='/bootstrap/js/jquery.js')
  //Bootstrap Core JS
  script(src='/bootstrap/js/bootstrap.min.js')

  // Editar módulos
  //Underscore
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')

  //moment
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js')

  //clndr
  script(src='/plugins/clndr.min.js')

  script(src='/js/editarmodulo.js')
  script(src='/js/scriptcalendario.js')
