extends menu
block content
  title #{modulo.nombre}
  //Contenido de Pagina
  div#page-wrapper
    div.container-fluid
      div.row
        div#barra-ver-modulos
          div.col-sm-12.col-md-8.col-md-offset-2
            //p #{mensaje}
            i#icono.material-icons.agregar-modulo.inline.inline dashboard
            h1#h1VerModulos #{titulo} #{modulo.nombre}
        div.col-sm-12.col-md-8.col-md-offset-2
          table.table.table-striped.table-bordered
            tbody
                tr
                  td Número
                  td #{modulo.numeroModulo}
                tr
                  td Administrador
                  td #{modulo.admin}
          a(href='') Nueva Huerta
  //Cierro segundo col-lg-12 
  //Cierro Container Fluid
  //Containererro PageWrapper
  //Cierro Wrapper
  //Jquery
  script(src='/bootstrap/js/jquery.js')
  //Bootstrap Core JS
  script(src='/bootstrap/js/bootstrap.min.js')
